In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## If Else Statement

In [13]:
if 5 == 15/3:
    print ("Great!")

Great!

In [14]:
#no result
if 5 == 18/3:
    print ("Great!")

In [15]:
#if condition is false - it will perform else
#if and else need to be on same vertical line

x = 1

if x > 3:
    print("Case 1")
else:
    print("Case 2")

Case 2

In [20]:
#talk about order of these - if <5 before <0 then it shows Less
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 0:
        return "Negative"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [19]:
print(compare_to_five(2))

Less

## Functions

In [21]:
def simple():
    print("My first function")

In [24]:
simple()

My first function

In [30]:
#x is a parameter - then we call plus_ten with an argument ie. 2
def plus_ten(x):
    return x + 10

In [31]:
plus_ten(2)

12

In [34]:
def plus_ten(a):
    result = a + 10
    #without this it won't return variable
    return result

In [35]:
plus_ten(5)

15

In [36]:
def plus_ten(a):
    result = a + 10
    print("Outcome")
    return result

In [37]:
plus_ten(5)

Outcome

15

In [2]:
#w_hours represents work hours
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [3]:
wage(10), with_bonus(10)

(250, 300)

In [5]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save more!"

In [7]:
add_10(110)

120

In [8]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('a =',a)
    print ('b =',b)
    print ('c =',c)
    return result

In [9]:
subtract_bc(10,2,3)

a = 10
b = 2
c = 3

4

In [1]:
Participants = ['John', 'Leila', 'Gregory']
Participants

['John', 'Leila', 'Gregory']

In [2]:
Participants[1]

'Leila'

In [4]:
Participants[-2]

'Leila'

In [5]:
del Participants[1]

In [6]:
Participants

['John', 'Gregory']

In [7]:
Participants.append('Dwayne')

In [8]:
Participants

['John', 'Gregory', 'Dwayne']

In [9]:
Participants.extend(['Catherine', 'Leila'])

In [10]:
Participants

['John', 'Gregory', 'Dwayne', 'Catherine', 'Leila']

In [16]:
#Slice
Participants[1:3]

['Gregory', 'Dwayne']

In [15]:
Participants[:3]

['John', 'Gregory', 'Dwayne']

In [17]:
Participants[-2:]

['Catherine', 'Leila']

In [18]:
Numbers = [1,2,3,4,5]

In [22]:
Numbers.sort(reverse=True)
Numbers

[5, 4, 3, 2, 1]

In [26]:
#Tuples
x = (1,2,3)
y = (8,9,10)

In [24]:
x

(1, 2, 3)

In [25]:
x[1]

2

In [28]:
list_1 = [x,y]
list_1

[(1, 2, 3), (8, 9, 10)]

In [30]:
#Function and Tuple
def square_info(x):
    A = x **2
    P = 4 * x
    print ("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

In [31]:
#Dictionary
dict = {'k1':'cat', 'k2':'dog', 'k3':'mouse', 'k4':'fish'}

In [33]:
dict['k1']

'cat'

In [34]:
dict['k5'] = 'parrot'

In [35]:
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [38]:
dep_workers = {'dep_1':'Peter', 'dep_2': ['Jennifer', 'Michael']}
dep_workers['dep_2']

['Jennifer', 'Michael']

## Iterations and Loops

In [3]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [4]:
for n in even: #for every element (n) in even - do this:
    print(n) #print(n) is body of loop - after this it goes back to for until finished

0
2
4
6
8
10
12
14
16
18
20

In [5]:
#for loops
for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [7]:
#while loops
x = 0
while x <= 20:
    print(x,end = " ") #if run here, you will crash computer as x is always 0
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [10]:
#range - range(start, end, step)

range(10)

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
range(3,8)

range(3, 8)

In [14]:
list(range(3,8,2))

[3, 5, 7]

In [15]:
for n in range(10):
    print (2**n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [17]:
for x in range(10):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd

In [18]:
x = [0,1,2]

In [19]:
for item in x:
    print(item, end = " ")

0 1 2

In [20]:
for item in range(len(x)):
    print(x[item], end = " ")

0 1 2

In [30]:
#rolling sum
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [28]:
list_1 = [1,2,4,7,15,23,43,56,67]

In [31]:
count(list_1)

5

In [33]:
prices = {
    'spagetti':4,
    'lasagne':5,
    'burger':3
    }
quantity = {
    'spagetti':6,
    'lasagne':10,
    'burger':1
    }

money_spent = 0

for i in quantity:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print(money_spent)

77